<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.14955886862-c8aib41kukv91fsg2bji75la4b9op5cd</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GIDClientID</key>
	<string>14955886862-c8aib41kukv91fsg2bji75la4b9op5cd.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Please allow camera usage to take photo for profile picture.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Identify Yourself!</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Used for data security purposes.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Used for data security purposes.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Used for data security purposes.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Used for sensor collection demo tasks.</string>
	<key>NSLocationUsageDescription</key>
	<string>Used for sensor collection demo tasks.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used for sensor collection demo tasks.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used for sensor collection demo tasks.</string>
	<key>NSMotionUsageDescription</key>
	<string>Used for sensor collection demo tasks.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow photos access to select image for profile picture.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Used for sensor collection demo tasks.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
